@CHARSET "ISO-8859-1";

/* ----------Body and Page-Size----------- */
body {
	background: rgb(204, 204, 204);
}

.page {
	background: white;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.page[data-size="A4"] {
	width: 21cm;
	height: 29.7cm;
}
/* 
table,
tr,
td,
th {
	
	border-top: none;
	border-left: none;
	border-right: none;
  
}
input {
	
	border-top: none;
	border-left: none;
	border-right: none;
}
textarea {
	border-top: none;
	border-left: none;
	border-right: none;
}
select{
border-top: none;
	border-left: none;
	border-right: none;
}
*/
@media print {
	body, page {
		margin: 0;
		box-shadow: 0;
	}
}


/* ------------------ Header ------------- */
marquee{
	color: red;
}
h1, h2, h3 {
	margin: 0px;
}

.h1 {
	text-align: right;
	color: Red;
	font-size: 10px;
	font-weight: bold;
}

.h2 {
	text-align: Center;
	color: Black;
	font-size: 45px;
	font-weight: bold;
	margin-top: 20px;
}

.h3 {
	text-align: Center;
	color: Black;
	font-size: 18px;
	font-weight: lighter;
	margin-bottom: 10px;
}

/*------------------ Table --------------------*/
.table-Add{
	/*border-collapse: collapse;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
  
    
}
.tr {
	font-size: 14px;
}

.th1 {
	font-size: 14px;
}

.th2 {
	font-size: 14px;
}

.thG {
	font-size: 16px;
	font-weight: 600;
/*	border: thick ; */
}

.text1 {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: block;
	padding: 0px;
}

.tr1 {
	font-size: 16px;
}

.table1 {
	/*border: 1px;*/
}
/*
.text-right1 {
	display: unset;
	text-align: justify;
	padding: 0px;
	}*/
	
.text-right {
	display: block;
	text-align: justify;
	padding: 0px;
	/* margin: 0 auto 1em auto;
    width: 90%;  
     border: 1px solid #818181;
 	 -moz-border-radius: 1px;
    -webkit-border-radius: 1px; 
    padding: 3px;*/
}

/*------------------ Div --------------------*/
.rowmain {
	/*display: flex;
	width: 99.6%;
	padding: 1px 0 1px 0;
	margin: 1px 0 1px 0;
	
	overflow: none;*/
    
    display: flex;
    width: 100%;
    margin: 5px 5px 0 0;
    justify-content: center;
}

.leftone {
	position: relative;
	float: left;
	clear: right;
	width: 53%;
	height: 20px;
	font-family: Arial;
	font-size: 14px;
	overflow: hidden;
}

.rightone {
	position: relative;
	float: left;
	clear: left;
	width: 46%;
	height: 20px;
	font-family: Arial;
	font-size: 14px;
}

.lefttext {
	position: relative;
	float: left;
	clear: right;
	width: 65%;
	height: 190px;
	font-family: Arial;
	font-size: 14px;
	margin: 12px 14px 22px 0;
	padding: 0;
/*	border: 1px solid;
	overflow: hidden;*/
}

.righttext {
	position: static;
	float: right;
	clear: right;
	width: 35%;
	height: 190px;
	margin: 1px 1px 1px 1px;
	padding: 0px 0px 0px 30px;
	font-family: Arial;
	font-size: 14px;
	/*border: 0px solid;*/
}


@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

/* Medium Devices, Desktops 
@media only screen and (max-width : 600px) {
	.lefttext {
		width: 98%;
		margin: auto;
	}
	.righttext {
		width: 98%;
		margin: auto;
		/*border: 2px dashed white;*/
	}
	.leftone {
		width: 98%;
		margin: auto;
	}
	.rightone {
		width: 98%;
		margin: auto;
		/*border: 2px dashed white;*/
	}
} */